{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "67",
          "ie": "11"
        },
        "useBuiltIns":"usage"
      }
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": ["dynamic-import-webpack"]
}
